/* COLOR SCHEME
Pink Primary - #f95779
Pink Secondary - #ffb4c4
Yellow Primary - #f9c910
Yellow Secondary - #fdedaf
Green Primary - #44d7b6
Green Secondary - #adeedf
Purple Primary - #6c6fe5
Purple Secondary - #bfc1fe
Peach Primary - #f67b50
Peach Secondary - #ffbba3
Sky Primary - #7fdee3
Sky Secondary - #cff9fb
White - #f9f9ff 
Black - #333333
Shadow - #454360 */

@font-face {
    font-family: mandalore;
    src: url('fonts/mandalorehalfital.ttf');
}

@font-face {
    font-family: comfortaa;
    src: url('fonts/Comfortaa-Regular.ttf');
}

:root {
    --primary-color: #f95779;
    --secondary-color: #ffb4c4;
    --dark-color: #333;
    --white-color: #f9f9ff;
}


body {
    background-color: var(--white-color);
    font-size: 1.1em;
    font-family: comfortaa;
}

main>.container {
    padding: 60px 15px 0;
}

main>.container-fluid {
    padding: 60px 15px 0;
    margin-bottom: 3rem;

}

h1 {
    color: var(--secondary-color);
    text-shadow: 2px, 2px, #333;
}

.headline {
    font-family: mandalore;
    font-size: 5em;
    margin: 0;
    color: var(--primary-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #333;
}

#content {
    min-height: 90vh;
}

nav {
    background-color: var(--primary-color);
}

.sticky-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer .social>a {
    color: var(--white-color);
}

footer .social>a:hover {
    opacity: .9;
    color: var(--secondary-color);
}

.checklist>li i {
    color: var(--secondary-color);
}

.btn {
    color: var(--white-color);
    background-color:var(--primary-color);
    border-color: var(--primary-color);
}

.btn:hover {
    color: var(--white-color);
    background-color: var(--dark-color);
    border-color: var(--dark-color);
}


.techicon {
    color: var(--secondary-color) ;
}
.techicon:hover {
    color: var(--primary-color);
}

.col-blue {
    background-color: #44d7b6;
}

.col-yellow {
    background-color: #f9c910;
}

.col-pink {
    background-color: #6c6fe5;
}

.minheight {
    min-height: 50vh;
}

.side-grid-height {
    min-height: 22vh;
}

